body{
  min-width:500px;
  margin-left: 6%;
  margin-right: 6%;
  }
  @media (width:500px){
    body{
    margin-left: .01%;
    margin-right: .01%;
  }
  }
  header{
    display:flex;
    flex-direction: row;
  
  }
  .logos{
    width:7%;
    border-radius: 100px;
  }
nav {
  width:93%;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #e25151;
  border-radius: 100px;
  
}
nav a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
@media (max-width: 800px) {
  nav{
    width:100%;
  }
  nav a {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  nav{
    padding-top: .6rem;
    padding-bottom: .6rem;
    width:100%;
  }
  nav a {
    font-size: 1.5rem;
  }
}
.top,
.container,
.container2 {
  display: flex;
}
@media (max-width: 500px) {
  .top,
  .container,
  .container2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer{
    margin:5%;
  }
  header{
    margin:2%;
  }
  .middle-img{
    margin-left:15%;
    margin-right: 15%;
  }
}
.top .box,
.container .box,
.container2 .box {
  width: 48%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.top .box .ones,
.container .box .ones,
.container2 .box .ones {
  height: 500px;
  border-radius: 30px;
}
.top .box .face,
.container .box .face,
.container2 .box .face {
  border-radius: 200px;
  width: 70%;
  transition: transform .5s ease-in-out;
}
.face:hover {
    transform: rotate(360deg);
  }
@media (max-width: 800px) {
  .top .box .face,
  .container .box .face,
  .container2 .box .face {
    width: 70%;
   
  }
}
@media (max-width: 500px) {
  .top .box,
  .container .box,
  .container2 .box {
    width: 80%;
    align-items: center;
    justify-content: center;
   
  }
  .top .box .ones,
  .container .box .ones,
  .container2 .box .ones {
    display: none;
  }
}
.top .box button,
.container .box button,
.container2 .box button {
  width: 9rem;
  margin: 0.1rem;
  font-size: 12px;
  border-radius: 8px;
  padding: 0.5rem;
}
@media (max-width: 800px) {
  .top .box button,
  .container .box button,
  .container2 .box button {
    border-radius: .1rem;
  }
}
@media (max-width: 500px) {
  .top .box button,
  .container .box button,
  .container2 .box button {
    border-radius: 20px;
  }
}
.middle-img {
  width: 100%;
  padding-top: 20px;
  border-radius: 90px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #e25151;
  padding: .7rem;
  margin-top: .8rem;
  border-radius: 100px;
}
.bbox {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.bbox .face {
  border-radius: 200px;
  width: 40%;
  transition: transform .5s ease-in-out;
}
.bbox .face:hover {
  transform: rotate(360deg);
}
@media (max-width: 500px) {
  .bbox{
    margin:10%;
  }
  .bbox .face {
    width: 60%;
  }
}
a {
  text-decoration: none;
  color: black;
}
.link{
  border-radius: 500px;
  width:30px;
}
.logo{
padding-bottom:3px;
}
@media (max-width:800px){
  .mytitle{
    margin-left:01%;
  }
  .logos{display:flex;
    display:none
  }
}
.log{
  width:7%;
}

@media (min-width:800px){
.mytitle{
  padding-left: 10rem;
}
}
.theback{
  background-image: url('../img/key.png');
  background-repeat: no-repeat;
  background-size: 95%;
  background-position:center;
  position:relative;
  
}