body {
  max-width: 1000px;
}
nav {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e25151;
}
nav a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  nav a {
    font-size: 20px;
  }
}
.top,
.container,
.container2 {
  display: flex;
}
@media (max-width: 500px) {
  .top,
  .container,
  .container2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.top .box,
.container .box,
.container2 .box {
  width: 48%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.top .box .ones,
.container .box .ones,
.container2 .box .ones {
  height: 550px;
}
.top .box .face,
.container .box .face,
.container2 .box .face {
  width: 100%;
}
@media (max-width: 500px) {
  .top .box .face,
  .container .box .face,
  .container2 .box .face {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .top .box,
  .container .box,
  .container2 .box {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .top .box .ones,
  .container .box .ones,
  .container2 .box .ones {
    display: none;
  }
}
.top .box button,
.container .box button,
.container2 .box button {
  width: 50%;
  margin: 0.1rem;
  font-size: 12px;
  border-radius: 8px;
  padding: 0.5rem;
}
@media (max-width: 500px) {
  .top .box button,
  .container .box button,
  .container2 .box button {
    border-radius: 20px;
  }
}
.middle-img {
  width: 100%;
  padding-top: 20px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #e25151;
  border-radius: 2px;
  padding: 10px;
}
.bbox {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.bbox .face {
  width: 40%;
}
@media (max-width: 500px) {
  .bbox .face {
    width: 100%;
  }
}
