body{
    max-width:1000px;
    padding:20px;
}

nav {
    a{
    font-size: 30px;
    text-decoration: none;
    color:black;
    @media (max-width:500px){
       font-size: 20px;
    }
    }
    display:flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color:lightgray;
    border-radius: 15px;
}
.top, .container, .container2{
  display:flex;
  @media (max-width:500px){
    flex-direction: column;
 }
  .box{
      width:48%;
      padding:15px;
      display:flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width:500px){
        width:100%;
        .ones{display:none;
        }
     }
      button{
          font-size: 20px;
          border-radius: 20px;
          padding:2rem;
          background-color: lightgray;
          @media (max-width:500px){
             border-radius: 2px; 
          }
      }
  }
}
.middle-img{
    width:100%;
}
footer{
    display:flex;
    justify-content: center;
}